@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
.link{
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  color: var(--primary-color-dark-one);
  font-family: 'Salsa', cursive;
  font-size: var(--text-nav-desktop);
}
.link:hover{
  color: var(--primary-color-dark-two);
}
.navbar__logo{
  width: 6rem;
  height: 6rem;
}
.navbar__link{
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.home__container{
  position: absolute;
  display: flex;
  height: auto;
  padding-top: 35vh;
  color: var(--primary-color-light-two);
  width: 100%;
  justify-content: space-around;
}
.home__title{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-color-dark-two);
  font-family:'Sonsie One';
  margin: 0;
}
.home__title__sub{
  color: var(--primary-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Courgette';
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-color-dark-two);
}
.home__title__sub2{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Courgette';
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-color-dark-two);
}
.button__Text{
  text-decoration: none;
  /* addicionar color ao root */
  color: #AC5100;
  text-align: center;
  font-family: 'Shrikhand';
  /* addicionar size ao root */
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button__Order{
  width: 14.5625rem;
  height: 3.8125rem;
  border-radius: 0.625rem;
  border: 1px solid #000;
  background: #FDE929;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button__Menu{
  width: 14.5625rem;
  height: 3.8125rem;
  border-radius: 0.625rem;
  border: 1px solid #000;
  background: #FD8D29;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.home__button__container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}
.subMenu{
  color: var(--primary-color-dark-two, #AC8000);
  font-family: Shrikhand;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: auto;
}
.container__menu{
  display: flex;
  flex-wrap: wrap;
  max-width: 90rem;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 10px;
}
.text__dishes{
  color: var(--primary-color-dark-one, #DBA405);
  font-family: Salsa;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: inherit;
  display: inline-block;
  cursor: pointer;
}
.text__dishes:hover{
  color: var(--primary-color-dark-two, #AC8000);
}
.menu__appatizer__container{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  row-gap: 30px;
  margin: 40px auto;
}
.card__Container{
  width: 24.3125rem;
  height: 24rem;
  margin: 0;
  border-radius: 0.625rem;
  border: 1px solid var(--contrast-color, #FD8D29);
  background: var(--primary-color, #FDC729);
  box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.25);
  animation: slideToRight 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.card__Container:hover{
  border: 3px solid var(--contrast-color, #FD8D29);
}
.card__text__container{
  padding-left: 10px;
}
.card__dish__name{
  margin: 0;
  color: var(--primary-color-dark-two, #AC8000);
  font-family: Salsa;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card__dish__description{
  width: 22.1875rem;
  height: 4.4375rem;
  margin: 0;
  color: var(--primary-color-dark-one, #DBA405);
  text-align: justify;
  font-family: Salsa;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card__dish__price{
  color: var(--primary-color-dark-one, #DBA405);
  text-align: justify;
  font-family: Salsa;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.gallery__img__container{
  display: grid;
  height: auto;
  grid-template-areas: 
    "pic1 pic2 pic4"
    "pic1 pic3 pic4";
  gap: 10px;
  justify-items: center;
}
.about__content__container{
  display: flex;
  justify-content: space-around;
  margin: 0 10px;
}
.about__text__container{
  max-width: 500px;
  padding: 10px;
}
.about__content__container p{
  color: var(--primary-color-dark-two, #AC8000);
  text-align: justify;
  font-family: Salsa;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about__content__container h3{
  color: var(--primary-color-dark-two, #AC8000);
  text-align: center;
  font-family: Sonsie One;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* /// media query /// */
@media (max-width: 1246px) {
  .gallery__img__container{
    grid-template-areas: 
      "pic1 pic4"
      "pic1 pic4"
      "pic2 pic3";
  }
  .menu__appatizer__container{ 
    width: 90%;
    justify-content: space-around;
  }
}
@media (max-width:828px) {
  .gallery__img__container{
    grid-template-areas: 
      "pic1"
      "pic2"
      "pic3"
      "pic4";
  }
  .home__container{
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
  }
  .home__text__container{
    text-align: center;
  }
  .about__content__container{
    flex-direction: column;
    align-items: center;
  }
}
/* /// animation //// */
@keyframes slideToRight{
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0);
            transform: translatey(0);
    opacity: 1;
  }
}