@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
.link{
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  color: var(--primary-color-dark-one);
  font-family: 'Salsa', cursive;
  font-size: var(--text-nav-desktop);
}
.link:hover{
  color: var(--primary-color-dark-two);
}
.navbar__logo{
  width: 6.25rem;
  height: 6.25rem;
}
.navbar__link{
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.home__container{
  position: absolute;
  display: flex;
  justify-content: center;
  height: auto;
  padding-top: 35vh;
  color: var(--primary-color-light-two);
  width: 100%;
  justify-content: space-around;
}
.home__title{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-color-dark-two);
  font-family:'Sonsie One';
  margin: 0;
}
.home__title__sub{
  color: var(--primary-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Courgette';
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-color-dark-two);
}
.home__title__sub2{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Courgette';
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-color-dark-two);
}
.button__Text{
  text-decoration: none;
  /* addicionar color ao root */
  color: #AC5100;
  text-align: center;
  font-family: 'Shrikhand';
  /* addicionar size ao root */
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button__Order{
  border-radius: 0.625rem;
  border: 1px solid #000;
  background: #FDE929;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button__Menu{
  border-radius: 0.625rem;
  border: 1px solid #000;
  background: #FD8D29;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.home__button__container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}
.subMenu{
  color: var(--primary-color-dark-two, #AC8000);
  font-family: Shrikhand;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: auto;
}
.container__menu{
  display: flex;
  max-width: 90rem;
  justify-content: space-evenly;
}
.text__dishes{
  color: var(--primary-color-dark-one, #DBA405);
  font-family: Salsa;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text__dishes:hover{
  color: var(--primary-color-dark-two, #AC8000);
}