@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
.link{
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  color: var(--primary-color-dark-one);
  font-family: 'Salsa', cursive;
  font-size: var(--text-nav-desktop);
}
.link:hover{
  color: var(--primary-color-dark-two);
}
.navbar__logo{
  width: 6rem;
  height: 6rem;
}
.navbar__link{
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.navbar__modal{
  width: 21.6875rem;
  height: 15.6875rem;
  border-radius: 1.875rem;
  border: 3px solid var(--primary-color-dark-two, #AC8000);
  background: var(--primary-color-light-two, #FFDD7A);
  position: absolute;
  z-index: 2;
  top: 98px;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem 1.875rem;
  justify-content: center;
  align-items: center;
  left: 0; 
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
}
.home__container{
  position: absolute;
  display: flex;
  height: auto;
  padding-top: 35vh;
  color: var(--primary-color-light-two);
  width: 100%;
  justify-content: space-around;
}
.home__title{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-color-dark-two);
  font-family:'Sonsie One';
  margin: 0;
}
.home__title__sub{
  color: var(--primary-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Courgette';
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-color-dark-two);
}
.home__title__sub2{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Courgette';
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-color-dark-two);
}
.button__Text{
  text-decoration: none;
  /* addicionar color ao root */
  color: #AC5100;
  text-align: center;
  font-family: 'Shrikhand';
  /* addicionar size ao root */
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button__Order{
  width: 14.5625rem;
  height: 3.8125rem;
  border-radius: 0.625rem;
  border: 1px solid #000;
  background: #FDE929;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button__Menu{
  width: 14.5625rem;
  height: 3.8125rem;
  border-radius: 0.625rem;
  border: 1px solid #000;
  background: #FD8D29;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.home__button__container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}
.subMenu{
  color: var(--primary-color-dark-two, #AC8000);
  font-family: Shrikhand;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: auto;
}
.advertiseLayout_Conainer{
  display: flex;
  justify-content: space-evenly;
  background-color: var(--secundary-color-light-one);
  margin-bottom: 30px;
}
.advertiseText_container_one{
  text-align: center;
  align-self: center;
}
.advertiseText{
  color: var(--primary-color-dark-two, #AC8000);
  font-family: Shrikhand;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.advertiseText_subText{
  color: var(--primary-color-dark-two, #AC8000);
  font-family: Shrikhand;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}
.advertiseText_container_two{
  width: 500px;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}
.advertiseText_dafault{
  color: var(--primary-color-dark-two, #AC8000);
  text-align: center;
  font-family: Salsa;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin:0;
}
.advertiseText_dafault_two{
  color: var(--primary-color-dark-two, #AC8000);
  text-align: center;
  font-family: Salsa;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container__menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 10px;
}
.text__dishes{
  color: var(--primary-color-dark-one, #DBA405);
  font-family: Salsa;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: inherit;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
.text__dishes:hover{
  color: var(--primary-color-dark-two, #AC8000);
}
.menu__appatizer__container{
  display: flex;
  flex-wrap: wrap;
  width: 87%;
  justify-content:left;
  gap: 50px;
  row-gap: 30px;
  margin: 40px auto;
}
.card__Container{
  width: 24.3125rem;
  height: 24rem;
  margin: 0;
  border-radius: 0.625rem;
  border: 1px solid var(--contrast-color, #FD8D29);
  background: var(--primary-color, #FDC729);
  box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.25);
  /* animation-delay: 0.5s; */
  animation: slideToRight 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.card__Container:hover{
  border: 3px solid var(--contrast-color, #FD8D29);
}
.card__text__container{
  padding-left: 10px;
}
.card__dish__name{
  margin: 0;
  color: var(--primary-color-dark-two, #AC8000);
  font-family: Salsa;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card__dish__description{
  width: 22.1875rem;
  height: 4.4375rem;
  margin: 0;
  color: var(--primary-color-dark-one, #DBA405);
  text-align: justify;
  font-family: Salsa;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card__dish__price{
  color: var(--primary-color-dark-one, #DBA405);
  text-align: justify;
  font-family: Salsa;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bubbleTeaContainer_title{
  position: absolute;
  color: black;
  font-family: Shrikhand;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: auto;
  width: 100%;
  z-index: 1;
}
.bubbleTeaContainer_content{
  display: flex;
  position: relative;
}
.bubbleTeaContainer_two{
  background-color: var(--contrast-color-light-two);
  min-width: 50%;
  display: flex;
  justify-content: center;
  gap: 111px;
  align-items: center;
}
.bubbleTeaContainer_two h4{
  position: relative;
}
ul{
  padding: 0;
  position: relative;
  list-style-type: none;
}
li{
  color: var(--primary-color-light-two, #FFDD7A);
  text-align: justify;
  font-family: Salsa;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.bubbleTeaContainer_one{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 8%;
  padding-top: 100px;
}
.bubbleTeaContainer_one ul{
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 30px;
}
.bubbleTeaText_subtitle{
  color: #000;
  font-family: Salsa;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bubbleTeaText_subtitle2{
  color: #000;
  font-family: Salsa;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.bubbleImageContainer{
  display: flex;
  width: 100%;
  justify-content: center;
}
.gallery__img__container{
  display: grid;
  height: auto;
  grid-template-areas: 
    "pic1 pic2 pic4"
    "pic1 pic3 pic4";
  gap: 10px;
  justify-items: center;
}
.about__content__container{
  display: flex;
  justify-content: space-around;
  margin: 0 10px;
}
.about__text__container{
  max-width: 500px;
  padding: 10px;
}
.about__content__container p{
  color: var(--primary-color-dark-two, #AC8000);
  text-align: justify;
  font-family: Salsa;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about__content__container h3{
  color: var(--primary-color-dark-two, #AC8000);
  text-align: center;
  font-family: Sonsie One;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__container__text{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer__text{
  display: flex;
  gap: 10px;
  align-items: center;
}
footer p{
  color: var(--contrast-color-dark-two, #AC5100);
  font-family: Salsa;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 0;
}
/* /// media query /// */
@media (max-width: 1246px) {
  .gallery__img__container{
    grid-template-areas: 
      "pic1 pic4"
      "pic1 pic4"
      "pic2 pic3";
  }
  .menu__appatizer__container{ 
    width: 90%;
    justify-content: space-around;
    height: 100vh;
    overflow: scroll;
  }
  .bubbleTeaText_subtitle{
    font-size: 1.25rem;
  }
  .bubbleTeaText_subtitle2{
    font-size: 1.25rem;
  }
  li{
    font-size: 1.45rem;
  }
}
@media (max-width:940px) {
  .bubbleTeaContainer_content{
    flex-direction: column;
  }
  .bubbleTeaContainer_one{
    display: flex;
    flex-direction: row;
    padding-top: 0;
    align-items: center;
    padding-left: 10px;
  }
  .bubbleTeaContainer_one div{
    width: 300px;
    margin-top: 20px;
  }
  .bubbleTeaContainer_two{
    padding-top: 90px;
    flex-direction: column;
    gap: 10px;
  }
  .bubbleTeaContainer_two ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    align-content: center;
    column-gap: 32px;
  }
  .bubbleTeaContainer_two div{
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;  
  }
  /* .bubbleTea_image{
    width: 200px;
    height: 200px;
  } */
}
@media (max-width:828px) {
  .gallery__img__container{
    grid-template-areas: 
      "pic1"
      "pic2"
      "pic3"
      "pic4";
  }
  .home__container{
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
  }
  .home__text__container{
    text-align: center;
  }
  .home__title{
    font-size: 1.875rem;
  }
  .home__title__sub{
    font-size: 1.3125rem;
  }
  .home__title__sub2{
    font-size: 1rem;
  }
  .menu__appatizer__container{
    margin: 10px 0;
    width: 100%;
    justify-content: center;
    height: 50vh;
    overflow-y: scroll;
    padding-bottom: 30px;
  }
  .card__Container{
    width: 21.125rem;
    height: 7.1875rem;
    display: flex;
  }
  .card__text__container{
    width: 10rem;
  }
  .card__dish__name{
    font-size: 1rem;
  }
  .card__dish__description{
    font-size: 0.75rem;
    width: 13.6875rem;
  }
  .card__dish__price{
    font-size: 1rem;
    margin: 0;
  }
  .card__image{
    width: 100px;
  }

  .advertiseLayout_Conainer{
    flex-direction: column;
    align-items: center;
  }
  .advertiseText{
    margin-top: 30px;
  }
  .advertiseText_container_two{
    width: 100%;
  }
  .about__content__container{
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
  .about__text__container h3{
    font-size: 1.5rem;
  }
  .about__text__container p{
    font-size: 1rem;
  }
  .footer__container__text{
    flex-direction: column;
    align-items: center;
  }

  .bubbleTeaContainer_one{
    flex-direction: column;
  }
  footer p{
    font-size: 1rem;
  }
  footer svg{
    width: 30px;
  }
}
@media (max-width:450px){
  .container__menu{
    width: 150px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: auto;
    display: block;
  }
  .text__dishes{
    padding-right: 15px;
  }
  .advertiseText{
    font-size: 1.25rem;
  }
  .advertiseText_subText{
    font-size: 2.625rem;
  }
  .advertiseText_dafault{
    font-size: 1.25rem;
  }
  .advertiseText_dafault_two{
    font-size: 1.25rem;
  }
}
/* advertiseText */
/* /// animation //// */
@keyframes slideToRight{
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0);
            transform: translatey(0);
    opacity: 1;
  }
}